<H1>Welcome</H1>
<div class="container">
    {{name}} welcome to Yair's App .    You can manage your todos <a routerLink="/todos">here</a>
</div>

<div class="container">
    Click to get a customized welcome message
    <button (click)="getWelcomeMessageWithParam()" class="btn btn-success">Get Welcome Message</button>
</div>

<div class="container" *ngIf="welcomeMessageFromService"  >
    <H2> Your Welcome Message</H2>
    {{welcomeMessageFromService}}
</div>

<div class="container" *ngIf="errorMessage">
    <H2> Your Welcome Message</H2>
    {{errorMessage}}
</div>


